#######################################################################
#                                                                     #
#                               Year 1                                #
#                                                                     #
#######################################################################

#################
#  Spring Term  #
#################

College/Year-1/spring/mth-112/books/algebra_and_trigonometry_2e.pdf filter=lfs diff=lfs merge=lfs -text

###############
#  Fall Term  #
###############

College/Year-1/fall/mth-251/books/single-variable-calculus.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-1/fall/mth-251/books/solutions.pdf filter=lfs diff=lfs merge=lfs -text

#################
#  Winter Term  #
#################

College/Year-1/winter/mth-252/books/single-variable-calculus.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-1/winter/mth-252/books/solutions.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-1/winter/phy-121/books/astronomy-2e.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-1/winter/psy-201a/books/from-inquiry-to-understanding.pdf filter=lfs diff=lfs merge=lfs -text

#######################################################################
#                                                                     #
#                               Year 2                                #
#                                                                     #
#######################################################################

#################
#  Spring Term  #
#################

College/Year-2/spring/mth-253/books/single-variable-calculus.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-2/spring/mth-253/books/solutions.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-2/spring/phy-123/books/astronomy-2e.pdf filter=lfs diff=lfs merge=lfs -text
College/Year-2/spring/psy-202/books/psychology-in-modules.pdf filter=lfs diff=lfs merge=lfs -text
